<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smart Perú</title>
</head>
<body>
<h2>Lista de Dispositivos</h2>
<table border="1">
    <thead>
    <tr>
        <td>Id Dispositivo</td>
        <!--<td>Id Cliente</td>-->
        <td>Tipo de dispositivo</td>
        <td>Marca</td>
        <td>Modelo</td>
        <td>Número de serie o Imei</td>
        <td>Color</td>
        <td>Descripción del Problema Inicial</td>
        <td>Observaciones</td>
        <td>Fecha de registro</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dispositivo : ${dispositivo}">
        <td th:text="${dispositivo.id_dispositivo}"></td>
        <!--<td th:text="${dispositivo.id_cliente}"></td>-->
        <td th:text="${dispositivo.tipo_dispositivo}"></td>
        <td th:text="${dispositivo.marca}"></td>
        <td th:text="${dispositivo.modelo}"></td>
        <td th:text="${dispositivo.numero_serie_imei}"></td>
        <td th:text="${dispositivo.color}"></td>
        <td th:text="${dispositivo.descripcion_problema_inicial}"></td>
        <td th:text="${dispositivo.observaciones_adicionales}"></td>
        <td th:text="${dispositivo.fecha_registro}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>