<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smart Perú</title>
</head>
<body>
<h2>Lista de Dispositivos</h2>
<table border="1">
    <thead>
    <tr>
        <td>Id Dispositivo</td>
        <td>Tipo de dispositivo</td>
        <td>Marca</td>
        <td>Modelo</td>
        <td>Número de serie o Imei</td>
        <td>Color</td>
        <td>Descripción del Problema Inicial</td>
        <td>Observaciones</td>
        <td>Fecha de registro</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dispositivo : ${dispositivos}">
        <td th:text="${dispositivo.idDispositivo}"></td>
        <td th:text="${dispositivo.tipoDispositivo}"></td>
        <td th:text="${dispositivo.marca}"></td>
        <td th:text="${dispositivo.modelo}"></td>
        <td th:text="${dispositivo.numeroSerieImei}"></td>
        <td th:text="${dispositivo.color}"></td>
        <td th:text="${dispositivo.descripcionProblemaInicial}"></td>
        <td th:text="${dispositivo.observacionesAdicionales}"></td>
        <td th:text="${dispositivo.fechaRegistro}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>