<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smart Perú</title>
</head>
<body>
    <h2>Lista de Repuestos</h2>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>N° Parte</td>
                <td>Cantidad</td>
                <td>Precio de Compra</td>
                <td>Precio de Venta</td>
                <td>Fecha</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="repuesto : ${repuestos}">
                <td th:text="${repuesto.idRepuesto}"></td>
                <td th:text="${repuesto.nombreRepuesto}"></td>
                <td th:text="${repuesto.descripcion}"></td>
                <td th:text="${repuesto.numeroParte}"></td>
                <td th:text="${repuesto.cantidadStock}"></td>
                <td th:text="${repuesto.precioCompra}"></td>
                <td th:text="${repuesto.precioVentaSugerido}"></td>
                <td th:text="${repuesto.fechaRegistro}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>